@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

:root {
    --primary-color: #4D4C7D;
    --secondary-color: #363062;
    --terciary-color: #D8B9C3;
    --primary-font: 'Sixtyfour', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-color);
    font-family: var(--primary-font)
}

.container__header {
    display: flex;
    align-items: center;
}

.container__header__pokebola {
    width: 3.5%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.container__header__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container__header__Titulo {
    justify-content: center;
    align-items: center;
}

.container__main {
    flex: 1 1 0;
    display: flex;
    justify-content: space-evenly;
}

.main__section__esquerda {
    margin: 1.5%;
    width: 35%;
}

#input {
    background: black;
    background-image: url("https://github.com/oKevinRaupp/Alura-DesafioDecodificadorPokemon/blob/main/assets/gengar-image.png?raw=true");
    color: var(--terciary-color);
    font-size: 1.4rem;
    font-weight: 400;
    border: solid var(--secondary-color);
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    background-position: -2.7rem;
    background-size: cover;
    line-height: 200%;
    width: 99%;
    height: 80%;
    resize: none;
    font-family: var(--primary-font);
}

#input::placeholder {
    color: var(--terciary-color);
}

.esquerda__div__aviso {
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

.esquerda__div__aviso__imagem {}

.esquerda__div__botoes {
    display: flex;
    justify-content: space-around;
}

.btn__blue {
    margin-top: 3%;
    width: 40%;
    height: 3rem;
    border-radius: 20px;
    background-color: var(--secondary-color);
    border-style: solid;
    border-color: var(--secondary-color);
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--terciary-color);
    font-family: var(--primary-font);
}

.btn__white {
    margin-top: 3%;
    width: 40%;
    height: 3rem;
    border-radius: 20px;
    background-color: var(--primary-color);
    border-style: solid;
    border-color: var(--secondary-color);
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--terciary-color);
    font-family: var(--primary-font);
}

.main__section__direita {
    border: solid;
    border-color: var(--secondary-color);
    background-color: black;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin: 1.5%;
    width: 35%;
}

.main__section__direita__div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 94%;
    text-align: center;
}

.direita__div__titulo {
    color: var(--terciary-color);
    margin-top: 4%;
    font-size: 1.3rem;
    margin: 4%;
}

.direita__div__texto {
    color: var(--terciary-color);
    font-size: 0.8rem;
}

.direita_div__resposta {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: var(--terciary-color);
    width: 100%;
    height: 100%;
    margin: 2%;
    text-align: left;
}

.direita__div__reposta__paragrafo {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 4%;
}

#btn-copiar {
    width: 40%;
    height: 3rem;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--terciary-color);
    border-style: solid;
    border-color: var(--secondary-color);
    font-size: 0.8rem;
    cursor: pointer;
    font-family: var(--primary-font);
    margin-bottom: 2%;
}

.direita__div__imagem {}

.container__footer {
    color: var(--terciary-color);
    background-color: var(--secondary-color);
    padding: 1%;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-weight: 400;
}

a {
    color: black;
}

@media (max-width: 1366px) {

    .main__section__direita {
        height: 80%;
    }

    .btn__blue {
        font-size: 0.7rem;
    }

    .btn__white {
        font-size: 0.7rem;
    }

    #btn-copiar {
        font-size: 0.7rem;
    }
}

@media (max-width: 1206px) {

    .main__section__direita {
        height: 80%;
    }

    .btn__blue {
        font-size: 0.68rem;
    }

    .btn__white {
        font-size: 0.68rem;
    }

    #btn-copiar {
        font-size: 0.68rem;
    }
}

@media (max-width: 1107px) {

    .container__header__Titulo {
        justify-content: center;
        align-items: center;
        margin-right: 12%;
        font-size: 1.6rem;
    }

    #input {
        font-size: 1rem;
    }

    .btn__blue {
        font-size: 0.55rem;
    }

    .btn__white {
        font-size: 0.55rem;
    }

    #btn-copiar {
        font-size: 0.5rem;
    }

    .direita__div__titulo {
        font-size: 1rem;
    }

    .direita__div__texto {
        color: var(--terciary-color);
        font-size: 0.6rem;
    }

    .direita_div__resposta {
        font-size: 0.6rem;
    }

    .direita__div__reposta__paragrafo {
        font-size: 0.6rem;
    }
}

@media (max-width: 900px) {

    .container__header__Titulo {
        justify-content: center;
        align-items: center;
        margin-right: 1%;
        font-size: 1.4rem;
    }

    .container__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #input {
        background-position: 1rem;
        background-repeat: no-repeat;
    }

    .main__section__esquerda {
        height: 100%;
        width: 65%;
    }

    .main__section__direita {
        height: 50%;
        width: 60%;
    }

    .direita__div__imagem {
        display: none;
    }

}

@media (max-width: 745px) {

    .container__header__pokebola {
        width: 6%;
    }

    .container__header__Titulo {
        margin-right: 1%;
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {

    .container__header__pokebola {
        width: 15%;
    }

    .container__header__Titulo {
        margin-right: 1%;
        font-size: 1.2rem;
    }

    .main__section__esquerda {
        height: 50%;
    }

    #input {
        font-size: 0.6rem;
        height: 40%;
    }

    .esquerda__div__botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn__blue {
        width: 100%;
        font-size: 0.75rem;
    }

    .btn__white {
        width: 100%;
        font-size: 0.75rem;
    }

    #btn-copiar {
        width: 50%;
        height: 45%;
        font-size: 0.8rem;
    }

    .main__section__direita {
        height: 50%;
    }

    .direita__div__imagem {
        width: 65%;
    }

    .direita__div__titulo {
        margin: 0%;
        font-size: 0.85rem;
    }

    .direita__div__texto {
        font-size: 0.55rem;
    }

    .direita_div__resposta {
        font-size: 0.6rem;
        margin: 0%;
    }

    .direita__div__reposta__paragrafo {
        margin: 0%;
    }

}